# Gem
/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/

# Demo app
/demo/tmp/
/demo/node_modules/
/demo/config/master.key
/demo/public/assets/
/demo/db/*.sqlite3
/demo/db/*.sqlite3-*
/demo/log/*.log
