<!DOCTYPE html>
<html>
  <head>
    <title>Component Preview</title>

    <script src="https://cdn.shopify.com/shopifycloud/app-bridge-ui-experimental.js"></script>
  </head>

  <body>
    <s-page>
      <%= yield %>
    </s-page>
  </body>
</html>
